# 用户配置 多账号分别填写,取消注释
USERS = [
    {
        "token": "1", # 抓包 header中的x-rpc-combo_token
        "device_id": "1", # 抓包 header中的x-rpc-device_id
        "remark": "用户1", # 备注
        "notification_uid": "UID_xxx1" # WxPusherUID
    }
    # ,
    # {
    #     "token": "2",
    #     "device_id": "2",
    #     "remark": "用户2",
    #     "notification_uid": "UID_xxx2"
    # }
    # ,
    # {
    #     "token": "3",
    #     "device_id": "3",
    #     "remark": "用户3",
    #     "notification_uid": "UID_xxx3"
    # }
]

# 管理员配置
ADMIN_UID = "UID_admin" # 所有账号的签到信息都会发送到这个UID

# WxPusher配置
WX_APP_TOKEN = "AT_XXXXXXX"  # 请替换成你自己的appToken
